.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slider h2 {
  position: absolute;
  top: 10%;
}

.slider_img {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider img {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
