.burger_menu {
  position: relative;
}

.burger_icon {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
}

.menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  width: 200px;
}
