:root {
  --main-color: #2c363f;
  --main-background: #f2f5ea;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

a {
  text-decoration: none;
  font-weight: 500;
  line-height: 20.16px;
  color: var(--main-color);
}

a:hover {
  cursor: pointer;
}
